@font-face {
	font-family: "Humanist";
	src: url('fonts/Humanst.ttf');
}

@font-face {
	font-family: "Folks";
	src: url('fonts/Folks-Bold.ttf');
}

body {
	font-family: "Humanist";
}

.navbar{
	min-height: 50px;
	background-color: #006FB6;
}

.navbar-brand {
	padding: 15px 80px;
	padding-bottom: 0;
}

.navbar-default {
	border-radius: 0;
	border-color: transparent;
	padding-bottom: 0;
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  margin: 1rem;
  position: relative;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}


@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

/*sidenavbar*/

.sidenav {
  height: 100%;
  width: 22%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #006FB6;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  position: relative;
  display: inline-block;
  padding: 8px 8px 8px 8px;
  left: 50px;
  outline: none;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 20px;
  color: white;
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
  display: block;
  width: 200px;
}

.sidenav a:hover, .offcanfas a:focus {
  color: #f1f1f1;
  background-color: #014A77;
  width: 200px;
  left: 50px;
  border-radius: 5px;
}

.sidenav a .active {
  color: #f1f1f1;
  background-color: #014A77;
  width: 200px;
  left: 50px;
  border-radius: 5px;
}  

.sidenav .icon {
  width: 50px;
  padding-right: 20px;
  position: relative;
  bottom: 3px;
}

.sidenav-top {
  height: 80%;
}

.sidenav-bottom {
  height: 20%;
}


.main{
  padding-left: 20%;
  padding-right: 0px;
}

.title {
  padding-top: 70px;
}



/*card tabs*/

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

a {
  color: #ccc;
  text-decoration: none;
  outline: none;
}

/*Fun begins*/
.tab_container {
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
  position: relative;
}

input, section {
  clear: both;
  padding-top: 10px;
  display: none;
}


label {
  font-weight: 700;
  font-size: 18px;
  display: block;
  float: left;
  width: 20%;
  padding: 0.5em;
  color: #757575;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background: #f0f0f0;
}

#tab1:checked ~ #contentPesanBaru,
#tab2:checked ~ #contentPesanProses,
#tab3:checked ~ #contentPesanReady,
#tab4:checked ~ #contentPesanBayar,
#tab5:checked ~ #contentPesanBatal {
  display: block;
  padding: 10px;
  background: #fff;
  color: #424242;
  border-bottom: 2px solid #f0f0f0;
}

.tab_container .tab-content p,
.tab_container .tab-content h5 {
  -webkit-animation: fadeInScale 0.7s ease-in-out;
  -moz-animation: fadeInScale 0.7s ease-in-out;
  animation: fadeInScale 0.7s ease-in-out;
}
.tab_container .tab-content h5  {
  color: #006FB6;
}

.tab_container .tab-content .urut  {
  color: #757575;
  padding-top: 8px;
  padding-bottom: 20px;
}

.tab_container [id^="tab"]:checked + label {
  background: #fff;
  box-shadow: inset 0 3px #006FB6;
}

.tab_container [id^="tab"]:checked + label .fa {
  color: #0CE;
}

label .fa {
  font-size: 1.3em;
  margin: 0 0.4em 0 0;
}

/*Media query*/
@media only screen and (max-width: 930px) {
  label span {
    font-size: 14px;
  }
  label .fa {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  label span {
    display: none;
  }

  label .fa {
    font-size: 16px;
  }

  .tab_container {
    width: 100%;
  }
}

/*Content Animation*/
@keyframes fadeInScale {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.tab-content p {
  margin: 0;
  padding: 0;
}

/*end cards tabs*/
